@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Mono&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

i{
    font-size: 22px;
    cursor: pointer;
    transform: translate(-20%, -20%);
}

#top-bar{
    position: sticky;
    top: 0%;
}
#top-left{
    padding-left: 100px;
    padding-top: 50px;
}

#logo2{
    padding-left: 90px;
    padding-top: 46px;
}

#top{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    
}

#name{
    text-decoration: none;
    color: rgb(17,16,16);
    font-family: 'Roboto Mono', monospace;
    width: auto;
}

#about{
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: rgb(17,16,16);
}

#archive{
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: rgb(17,16,16);
}

#archive::after{
    content:"";
    position:absolute;
    bottom: 1px;
    height: 1px;
    width: 83px;
    left:1148px;
    background-color: rgb(17,16,16);
    transition: 0.1s;
    transition-timing-function: ease-in;
    transform: scaleX(0);
}

#archive:hover::after{
    transform: scaleX(1);
}

#link1{
    margin-left: 180px;
    padding-top: 50px;
}

#link2{
    margin-left: 40px;
    padding-top: 50px;
}

#top-right{
    display: flex;
    margin-left: 700px;
}

#mid-left{
    margin-left: 390px;
    margin-top: 15px;
    
}

#name-2{
    font-family: 'Open Sans', sans-serif;
}

#intro{
    display: flex;
    padding-top: 200px;
    margin-left: 10px;
}

#mid-right{
    position: relative;
    left: -40px;
    top: 60px;
}

.multiText{
    color: rgb(133, 133, 133);
}

#linkedin-btn{
    color: rgb(17,16,16);
}

#links{
    display: flex;
    padding-top: 30px;
}

#github-btn{
    padding-left: 20px;
    color: rgb(17,16,16);
}

#instagram-btn{
    padding-left: 20px;
    color: rgb(17,16,16);
}
